<!DOCTYPE html>
<html>
<head>
  <title>Provisioning Test Page</title>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <style type="text/css">
    body {
      font-family: 'Slabo 27px', serif;
      height:100vh;
    }

    img {
      width:100px;
    }

    .blog {
      padding:50px;
    }

    .post {
      padding:20px;
    }
  </style>
</head>
<body>
  <div class="blog">
    <img src="/images/logo.png" />
    <h1>Recent Posts</h1>
    <hr/>

    <% posts.forEach(function(post){ %>
    <div class="post">
      <h3><%= post.title %></h3>
      <p><%= post.body %></p>
    </div>
    <% }) %>
  </div>
</body>
</html>