<!DOCTYPE html>
<html>
<head>
  <title>Provisioning Test Page</title>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <style type="text/css">
    body {
      text-align:center;
      font-family: 'Slabo 27px', serif;
      height:100vh;
    }

    .vertical-center {

      position:relative;
      top:50%;
      transform: translateY(-50%);

    }

    img {
      width:100px;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
    <h1>Fibonacci Generator</h1>


    <p>The number at position <%= index %> is <%= value %></p>
    <img src="/images/logo.png" />
  </div>
</body>
</html>